<!doctype>
<html>
<head>
	<title>{% block title %}Title{% endblock %}</title>
</head>
<body>

{% block content %}{% endblock %}

<i>This is written straight into the twig base file</i>

</body>
</html>