{% extends 'base.twig' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}

<p>
	this is the index.twig file within nataleyFFL/views extending the base.twig <br>
	here you find the content area.
</p>
<p>
	<ul>
		<li><a href="twigdisplay/hellotest">Hello Test by Twig</a></li>
		<li><a href="twigdisplay/notavailable">You can't twig this!</a></li>
		<li><a href="twigdisplay/failfailabort">Click me for yet another twig fail!</a></li>
	</ul>
</p>

{% endblock %}

